
.header{
    display: flex;
    height: 60px;
}
header.logo.img{
    width: 60;
    height: 60;
    }
header.nav{
        flex: 1;
    }
    header.nav.ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }


        header.nav.ul.li{
        display: inline-block;
            }

            header.nav.ul.li.a{
        display: inline-block;
    }
        
    
